node_modules
/vendor
.env
.env.bak
.env.81
.env.34
.env.dev
.env.pro
.env.molbase2
.env.molbase_cn
.env.local
.env.test
.env.test_dev
.idea
package.json
gulpfile.js
vendor
storage/framework/cache

.buildpath
.project
.settings/
public/www_v1
/public/pic
/public/pic_global
/public/pic_mall_zh
public/pic
public/pic_source
q
public/index_old.php

.sass-cache
.vscode/*